# Gradle specific
build/
!gradle/wrapper/gradle-wrapper.jar

# Compiled class files
bin/
target/
*.jar
*.war

# IntelliJ IDEA specific
.idea/
*.iws
*.iml
*.ipr
out/

# Log files
*.log

# Local configuration
src/main/resources/application-local.yml
src/main/resources/application-local.properties

# OS specific
.DS_Store 